@import "/src/assets/scss/colors";
:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.heading {
  margin-top: 20px;
  font-weight: 600;
  font-size: 35px;
  line-height: 1.5;
}
.sub-heading {
  font-size: 18px;
}
.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  overflow-y: auto;
  padding-top: 11px;
  padding-inline: 9px;
  padding-bottom: 100px;
  // &::after {
  //   content: "";
  //   flex: auto;
  // }
}
.special-instructions-container {
  margin-top: 20px;
  padding: 0 9px;
  .special-instructions-input {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid $secondary;
    background-color: $secondary;
    color: white;
    font-size: 16px;
    font-family: inherit;
    resize: vertical;
    min-height: 120px;
    &:focus {
      outline: none;
      border-color: $primary;
    }
    &::placeholder {
      color: $smoke;
    }
  }
}
button.next {
  background-color: $primary;
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 73px;
  border-radius: 18px;
  font-weight: 600;
  z-index: 9;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  &:disabled {
    background-color: $grey;
    cursor: not-allowed;
  }
}
.scroll-shadow {
  width: calc(100% + 45px);
  height: 122px;
  position: absolute;
  bottom: 5px;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0) 42%);
  margin-left: -20px;
}
